*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}

img{
    width: 100vw;
    margin: 0px;
    
}

main > a{
    display: block;
    background-color: darkred;
    color: white;
    text-align: center;    
    font-weight: bolder;
    text-decoration: none;
    padding: 20px;
    font-size: 20px;
}

main > a:hover{
    background-color: red;
}
main > a:active{
    background-color: rgb(155, 10, 10);
    border: 2px solid black;
}