@charset "utf-8";

*{
    margin: 0px;
    padding: 0px;
}

body{
    background: url('../pacote-d013/imagens/fundo-madeira.jpg') center center no-repeat fixed;
    width: 100vw;
    height: 100vh;
    background-size: cover; 
    background-attachment: fixed;
    background-color: black;
}

main{
    height: 100vh;
    position: relative; 
}
#celular{
    position: absolute;
    margin-top: 5px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 40%;
    min-height: 10vw;
}
iframe{
    position: absolute;
    top: 11.5%;
    left: 5.5%;
    width: 17.2rem;
    min-height: 30rem;
    border-radius: 10px;
    border: solid black 2px;
}

iframe.padrao{
    background: url('../pacote-d013/imagens/tela-home.jpg') center center no-repeat;
    background-size: cover;
}

iframe.insta{
    background: url('../pacote-d013/imagens/tela-instagram.jpg') center center no-repeat;
    background-size: cover;
}

section#redes-sociais{
    text-align: right;
}
.btn{
    width: 3rem;
    margin: 10px;
    margin-left: 1vw;
    border-radius: 50%;
}
.btn:hover{
    border: solid white 1px;
    transform: translate(-8%, -5%);
    transition: transform .8s, border 1s;
    box-shadow: 3px 3px 9px black;
}