@charset "utf-8";

*{
    margin: 0px;
    padding: 0px;
}

body{
    background: url('../pacote-d013/imagens/fundo-madeira.jpg') center center no-repeat fixed;
    width: 100vw;
    height: 100vh;
    background-size: cover; 
    background-attachment: fixed;
    background-color: black;
}

main{
    height: 100vh;
    position: relative; 
}
#celular{
    background: url('../pacote-d013/imagens/frame-iphone.png') top center no-repeat fixed;
    background-attachment: fixed;
    background-color: aqua;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
}
iframe{
    position: absolute;
    top: 11.5%;
    left: 5.5%;
    width: 17.2rem;
    min-height: 30rem;
    border-radius: 10px;
    border: solid black 2px;
}

section#redes-sociais{
    text-align: right;
}
.btn{
    width: 3rem;
    margin: 10px;
    margin-left: 1vw;
    border-radius: 50%;
}
.btn:hover{
    border: solid white 1px;
    transform: translate(-8%, -5%);
    transition: transform .8s, border 1s;
    box-shadow: 3px 3px 9px black;
}
